.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.app-wrapper-content {
  background-color: purple;
  grid-area: c;
}