.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.header {
  grid-area : h;
  background-color: green;
}
.header img {
  width: 80px;
}
.nav {
  background-color: blue;
  grid-area: n;
}
.content {
  background-color: purple;
  grid-area: c;
}