.selectedPage {
    color: white;
    background-color: black;
}
.paginator button {
    margin: 10px;
}
.paginator span {
    padding: 5px 10px;
    border: 1px black solid;
    display: inline-block;
    margin: 20px 5px;
}
.paginator span:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}